<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--Filter Owner-->
    <filter>
        <filter-name>filterOwner</filter-name>
        <filter-class>filter.filterOwner</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterOwner</filter-name>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/manageUser</url-pattern>
        <url-pattern>/manageBooking</url-pattern>
        <url-pattern>/manageRoom</url-pattern>
        <url-pattern>/dashboard.jsp</url-pattern>
        <url-pattern>/manageUser.jsp</url-pattern>
        <url-pattern>/manageRoom.jsp</url-pattern>
        <url-pattern>/manageService.jsp</url-pattern>
        <url-pattern>/manageService</url-pattern>
    </filter-mapping>
    <!--Filter Staff-->
    <filter>
        <filter-name>filterStaff</filter-name>
        <filter-class>filter.filterStaff</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterStaff</filter-name>
        <url-pattern>/BookingRequest</url-pattern>
        <url-pattern>/CheckInLoader</url-pattern>
        <url-pattern>/CheckOutLoader</url-pattern>
        <url-pattern>/LoadAllBookingInfo</url-pattern>
    </filter-mapping>
    <!--Filter Login-->
    <filter>
        <filter-name>filterLogin</filter-name>
        <filter-class>filter.filterLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterLogin</filter-name>
        <url-pattern>/register.jsp</url-pattern>
        <url-pattern>/forgetpassword.jsp</url-pattern>
    </filter-mapping>
    <!--Filter BannedUser-->
    <filter>
        <filter-name>filterBannedUser</filter-name>
        <filter-class>filter.filterBannedUser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterBannedUser</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>controller.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>controller.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRoom</servlet-name>
        <servlet-class>controller.ManageRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBooking</servlet-name>
        <servlet-class>controller.ManageBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomCategoriesController</servlet-name>
        <servlet-class>controller.ListRoomCategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterController</servlet-name>
        <servlet-class>controller.FilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailController</servlet-name>
        <servlet-class>controller.RoomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRoomAvailabilityController</servlet-name>
        <servlet-class>controller.CheckRoomAvailabilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerListingServiceController</servlet-name>
        <servlet-class>controller.OwnerServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingRequest</servlet-name>
        <servlet-class>controller.BookingRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingController</servlet-name>
        <servlet-class>controller.bookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controller.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceManagerController</servlet-name>
        <servlet-class>controller.ServiceManagerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/manageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRoom</servlet-name>
        <url-pattern>/manageRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBooking</servlet-name>
        <url-pattern>/manageBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoomCategoriesController</servlet-name>
        <url-pattern>/rooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterController</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailController</servlet-name>
        <url-pattern>/room-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRoomAvailabilityController</servlet-name>
        <url-pattern>/check-availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerListingServiceController</servlet-name>
        <url-pattern>/list-service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingRequest</servlet-name>
        <url-pattern>/BookingRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingController</servlet-name>
        <url-pattern>/bookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/PaymentController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            ajaxServlet
        </servlet-name>
        <url-pattern>
            /payment
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>vnpayReturn</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            vnpayReturn
        </servlet-name>
        <url-pattern>
            /vnpayRefund
        </url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ServiceManagerController</servlet-name>
        <url-pattern>/manageService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
