<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>controller.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>controller.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>controller.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRoom</servlet-name>
        <servlet-class>controller.ManageRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomCategoriesController</servlet-name>
        <servlet-class>controller.ListRoomCategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterController</servlet-name>
        <servlet-class>controller.FilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailController</servlet-name>
        <servlet-class>controller.RoomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>controller.ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAvailabilityController</servlet-name>
        <servlet-class>controller.CheckAvailabilityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/RoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/manageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRoom</servlet-name>
        <url-pattern>/manageRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoomCategoriesController</servlet-name>
        <url-pattern>/rooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterController</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailController</servlet-name>
        <url-pattern>/room-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/service-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAvailabilityController</servlet-name>
        <url-pattern>/check-availability</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
