/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 13, 2025, 2:41:01 PM
    Author     : Overlordil
*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #d3d3d3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #000;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar a.active {
    background-color: #555;
    color: #fff;
}

.sidebar a.active:hover {
    background-color: #555;
    color: #fff;
}

.sidebar a:hover {
    background-color: grey;
    color: #fff;
}
